// Mixins Here

.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue;
}

.border-green {
    border: 1px solid green;
}

.border-orange {
    border: 1px solid orange;
}

.center() {
    display: flex;
    justify-content: center;
    align-content: center;
}


// Button Mixin

.custom-button(@color, @bgcolor) {
    color: @color;
    background: @bgcolor;
    border: 1px solid @ebony-clay;
}